@import "mixins";
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Berkshire+Swash');
@import "colors";



/*animation specs*/
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.text{
    animation-name:fade-in;
    animation-duration: 6s;
    font-family: $loader;
   	font-size: 85px;

}

.box{
	// position: relative;
	// this is making the text centered
    text-align: center;
    color: black;
    padding: 250px;
    // margin: 25px 25px 25px 25px;
    // background-image: url(../images/pink.jpg);
    // background-repeat:no-repeat;
    // // height:500px;
    // // width: 800px;
    // background-size:50% 90vh;

}



#load-container{
	
	
	


	
}

// index.html page begins here
// divs equally spaced
#heading{
	font-family: $main_font;
	text-align: center;
	letter-spacing: 10px;
	padding:8px;
}

p{
	font-family: $main_font;
}




#container{
	background-color: $background_main;
	margin: 50px;
	margin-bottom: 20px;
}
#content{
	background-color: $section_color;
	text-align: center;
	margin: 20px;


}
#projects{
	background-color: $section_color;
	text-align: center;
	margin: 10px;
	margin: 20px;

}
#foot{
	background-color: $section_color;
	text-align:center;
	margin:10px;
	margin: 20px;
}
@include links;

#copywrite{
	text-align:center;
}

#modal1{
	background-color: $background_main;
	text-align:center;
}

