@import "mixins";
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Berkshire+Swash');
@import "colors";
@import "navbar";



/*animation specs*/
// @keyframes fade-in {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }
// .text{
//     animation-name:fade-in;
//     animation-duration: 6s;
//     font-family: $loader;
//    	font-size: 85px;

// }

.box{
	// position: relative;
	// this is making the text centered
    text-align: center;
    color: black;
    // padding: 250px;
    // margin: 25px 25px 25px 25px;
    // background-image: url(../images/pink.jpg);
    // background-repeat:no-repeat;
    // // height:500px;
    // // width: 800px;
    // background-size:50% 90vh;

}



#load-container{
	
	
	


	
}

// index.html page begins here
// divs equally spaced
#heading{
	font-family: $loader;
	text-align: center;
	letter-spacing: 10px;
	padding:8px;
	font-size:50px;
	text-shadow: 1px 1px white;
	background-color: $heading-background-color;


	// font-size: 0px;
}
//Imported navbar.scss and it works! 

#navbar{
	background-color: $heading-background-color;
}

// .nav-item{
// 	margin-top: 50px;
// 	font-size: 25px;
// 	font-family: $main_font;
// }

.animated{
	font-family: $main_font;
}




#container{
	background-color: $background_main;
	// margin: 50px;
	// margin-bottom: 50px;
}
#profilepic{
	float: left;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
#content{
	// background-color: $section_color;
	// text-align: center;
	margin: 20px;
	// border-style: double;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url("images/pink.jpg");


}
#projects{
	background-color: $section_color;
	text-align: center;
	margin: 19px;
	// margin: 20px;
	// border-style: double;
	padding-top: 80px;
	padding-bottom: 80px;


}
.project-placeholder{
	margin: 20px;
}
#foot{
	// background-color: $section_color;
	text-align: center;
	// margin:19px;
	// margin: 20px;
	@include links;
	background-color: $heading-background-color;
}



#copywrite{
	text-align:center;
}

#modal1{
	background-color: $background_main;
	text-align:center;
}

// .para{
// 	text-align:left;
// }
