@import "colors";
@mixin links {
  a {
    color:$nav-text-color;
    text-decoration: none;
   
    &:visited {
      color:black;
    }
    &:hover {
      color:$link-hover-color;  
       // background-color: black;
    }
    &:active {
     color: $link-hover-color;
    }
  }
}